/* Default text */
p {
    /* MAJOR Need 1 em == 14px */
    margin: 4px 0 8px; /* MAJOR Currently has extra bottom margin. Hardcoded? */
}


/* Headers */
h1 {
    margin: 16px 0 12px;
    font-size: 21px;
    font-weight: bold;
}

h2 {
    margin: 16px 0 12px;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    margin: 12px 0;
    font-size: 15px;
    font-weight: bold;
}

h4 {
    margin: 11px 0;
    font-size: 14px;
    font-weight: bold;
}

h5 {
    margin: 11px 0 7px;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: bold;
}

h6 {
    margin: 11px 0 7px;
    font-size: 12px;
    letter-spacing: 1px;
    color:#97999D;
}


/*Lists */
ul, ol {
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0;
}

ul ul, ol ol, ul ol, ol ul, ol p, ul p { /* Not sure this is right */
    margin-top: 0;
    margin-bottom: 0;
}

ul ul, ol ol, ul ol, ol ul { /* Not sure this is right */
    margin-left: 16px;
}

li {
    margin-top: 6px; /* Change for vert space between list items */
    margin-bottom: 0;
}


/* Horizontal separator */

hr { /* MAJOR Styles don't work at all */
    color:red;
    background-color:red;
    border-color: red;
    display: inline-block;
    border: 0;
    height: 1px;
    margin: 8px 0;
}


/* Original css from source file */

blockquote {
    padding-left: 10px;
    border-left-color: #4e5157;
    border-left-style: solid;
    border-left-width: 2px;
    margin-top: 1px;
}
blockquote p {
    padding-left: -10px;
    border-left-color: border-color;
    border-left-style: none;
    border-left-width: 0px;
}
.no_underline {
    text-decoration: none;
}
.user-del {
    text-decoration: line-through;
}